@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration:none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

/*you need to add second bg color*/

:root {
    --background-color: #2c2d40;
    --second-bg-color: #181d25;
    --text-color: #ffffff;
    --main-color: #ffbd59;
    --border-radius: 8px;
    --transition-speed: 0.3s;
}

html {
    font-size: 62.5%;
    overflow-x:hidden;
    
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

.header {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    padding: .05rem 9%;
    background: var(--background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 50;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.logo {
    margin-top: 10px;
    width: 200px;
    color: var(--text-color);
    cursor: default;
    color: var(--main-color);
    font-size: 6rem;
}

.navbar a {

    font-size: 2rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .5s;
}

.navbar a:hover,
.navbar a.active {
    color: #ffb400;
    transition: var(--transition-speed);
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.home-img img {
    margin-top: 10px;
    width: 600px;
    border-radius: var(--border-radius);
    Bottom: 0;  
}

.home-content h1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: -3rem;
    margin-top: -20rem;
}

.home-content h2 {
    font-size: 5.6rem;
    font-weight: 700;
    margin-bottom: 5rem;
    color: #ffb400;
}

.home-content h3 {
    font-size: 3rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(1){
    font-size: 1.5rem;
    font-weight: 300;
    color: gray;
}

.home-content h3:nth-of-type(2){
    margin-bottom: 1rem;
}

span{
    color: var(--main-color);
}



.home-content p {
    font-size: 1.8rem;
}

.social-media a {
   display: inline-flex;
   justify-content: center;
   align-items: center;
   width: 7rem ;
   height: 7rem ;
   background: transparent;
   border: .2rem solid var(--main-color);
   border-radius: 50%;
   font-size: 4rem;
   color: var(--main-color);
   margin: 3rem 3rem 3rem 0; 
   transition: .5s ease;
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--background-color);
    box-shadow: 0 0 1rem var(--main-color);
}


.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    background: var(--second-bg-color);

}

.about-content {


}
